.footer{
    text-align: center;
    background: rgb(231, 230, 230);
    padding: 1em;
}

i{
    margin: 1em;
    font-size: 1.5em;
}

@media screen and (max-width: 600px){
  i{
    margin: 0.4em;
    font-size: 1.5em;
  }
}