.top-container {
  padding: 30px;
  text-align: center;
}

.header {
  padding: 0px 16px;
  background: rgb(97, 9, 9);
  color: #ffffff;
  z-index: 100;
  transition: ease-in 1s;
  position: sticky;
  top: 0px
}

a{
  color: white;
  text-decoration: none;
  
}