<section [@changeScreen]='state' (click)="toggleState()">
	<div class="top-container">
		<h1>Candid Rewind</h1>
		<p>Capture</p>
	</div>

	<div class="header">
		<nav mat-tab-nav-bar dynamicHeight mat-align-tabs="center" animationDuration="500ms">
			<a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
				{{link.label}}
			</a>
		</nav>
	</div>



	<!--<mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="500ms">
	<mat-tab *ngFor="let link of navLinks" [label]="link.label" [routerLink]="link.path">
		<div class="mat-elevation-z4">
			About Us
		</div>
	</mat-tab>
</mat-tab-group>-->
	<div [@routerTransition]="getState(o)">
		<router-outlet #o="outlet"></router-outlet>
	</div>
	<div>
		<app-footer></app-footer>
	</div>
	<section>