.block {
      background: #eee;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 5px;
      display: inline-block;
    }

    mat-card{
      margin: 1em;
      padding: 0.5em;
    }
$buttonClr:rgba(0, 0, 36, 0.8);
$backgroundClr:rgba(104, 103, 103, 0.5);

img{
  width: 100%;
  max-height: 50em;
}
.carousel{
    height: 100%;
    width: 100%;
}

#intro{
  background: rgba(104, 103, 103, 0.5);
  margin: 1em auto;
  text-align: center;
  padding: 3em 1em;
 transition: ease-in-out 0.5s;
 color: white;
}

#intro:hover{
  background: rgb(139, 1, 1);
  transition: ease-in-out 0.5s;
}
#intro p, #intro img{
  display: inline-block;
}

#intro div{
  display: inline;
}


.anchorButton{
  padding: 1em;
  margin: 1em;
  background: $buttonClr;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  // box-shadow: 0px 8px 15px rgba(252, 250, 250, 1);
}



.anchorButton:hover{
background: white;
color: $buttonClr;
transition: ease-in-out 0.2s;
text-decoration: none;
border: 2px solid $buttonClr;
}

.introStudioLamp{
  height: 10em;
  width: 5em;
  margin-left: 3em;
  margin-top: 2em;
  display: inline-block;
}

.floating {  
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

#intro p{
  max-width: 60%;
  margin: auto;
}
.album{
  margin: 5% auto;
  text-align: center;
}

.album-item{
  width: 85%;
  margin: 1% auto;
  transition: all .2s ease-in-out;
}

.album-item:hover{
   transform: scale(1.05);
   transition: all .2s ease-in-out;
}



.wrapper { 
  border : 1px solid rgba(0, 0, 0,0); 
  overflow:hidden;
  text-align: center;
  background: $backgroundClr;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#one {
  float:left; 
  margin-right:20px;
  width:50%;
}
#two { 
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

#two p{
  margin-bottom: 3em;
}


iframe{
  width: 45vw;
  height: 25.2vw;
}
@media only screen and (min-width: 800px) {
  .album-item {
   width: 31%;
   display: inline-block;
  }
  
}

@media screen and (max-width: 800px) {
   #intro p{
  max-width: 95%;
  margin: auto;
}
   #one { 
    float: none;
    margin-right:0;
    width:auto;
  }
  iframe{
  width: 90vw;
  height: 50.4vw;
  }
    mat-card{
      margin: 0.5em;
    }
}