<section id="carousel">
	<div class="carousel">
		<ngb-carousel *ngIf="images">
			<ng-template ngbSlide *ngFor="let i of images">
				<img [src]="i" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
</section>
<section id="intro">
  <p>A picture is worth thousand words they say, but we feel wedding photographs are more than that. For the amount of love, joy, promise, dreams and memories they carry within, it is an endless journey of emotions that the couple gets to experience on the big day.we make sure not a moment is missed when you are in the flow of the occasion.</p><br> 

  <a routerLink="/gallery"><strong>Visit Gallery</strong></a>
  <img class="introStudioLamp" src="https://firebasestorage.googleapis.com/v0/b/mokkapage.appspot.com/o/studioVertical.png?alt=media&token=4e58540e-fb84-45dd-ac4b-649d56eec680" alt="image">
</section>
<section id="albums" class="album">
  <div class="album-item" *ngFor="let a of albums">
    <img class="album-img" [src]="a">
    <h5>Title</h5>
  </div>
</section>