<ngb-carousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let i of images">
		<img [src]="i" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
<section></section>
<section id="albums" class="album">
  <div class="album-item" *ngFor="let a of albums">
    <img class="album-img" [src]="a">
    <h5>Title</h5>
  </div>
</section>