<section id="carousel">
	<mat-card>
		<div class="carousel">
			<ngb-carousel *ngIf="images">
				<ng-template ngbSlide *ngFor="let i of images">
					<img [src]="i" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
  </mat-card>
</section>
<section id="intro">
  <p>A picture is worth thousand words they say, but we feel wedding photographs are more than that. For the amount of love, joy, promise, dreams and memories they carry within, it is an endless journey of emotions that the couple gets to experience on the big day.we make sure not a moment is missed when you are in the flow of the occasion.</p><br> 

  <a class="effect anchorButton" routerLink="/gallery"><strong>Visit Gallery</strong></a>
  <img class="introStudioLamp floating" src="https://firebasestorage.googleapis.com/v0/b/mokkapage.appspot.com/o/studioVertical.png?alt=media&token=4e58540e-fb84-45dd-ac4b-649d56eec680" alt="image">
</section>
<section id="albums" class="album">
  <div class="album-item" *ngFor="let a of albums">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
      </mat-card-header>
    <img class="album-img" [src]="a">
    </mat-card>
  </div>
</section>
<section>
   <div class="wrapper">
    <div id="one"><iframe src="https://www.youtube.com/embed/q26FufEXJuc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div id="two">
      <h3>WEDDING FILMS</h3><p>
We love moving pictures as much as we love stills. With the cuts and callouts, every wedding film we make is a collage of all those memorable moments that you didn’t want to miss. More importantly, we take pleasure in giving you a wedding film that is a perfect accompaniment to our style of photography.</p>
<a class="effect anchorButton" routerLink="/gallery" style="margin-top:2em;"><strong>Visit Gallery</strong></a></div>
</div>
</section>